.title{
	background-image: url("blue.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.font{
	color: white;
	font-family: 'Merriweather', serif;
}
.img{
	width: 100%;
	height: 100%;
}
.background{
	background-image: url("office2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
html{
	
}
